<div class="page-header">
    <img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/contactlogo.png">
</div>


    <div class="panel-body"><p class="text-muted"> Office work doens't have to be complex.
  We believe in work that makes productivity easier and seamless. Our staple products
  from SMART UP delivers to offices all around Luzon, making offices and schools
more comfortable each day. Known for quality, our products are timeless. We cater to all and
our prices are for all.  </p>
   <p class="text-muted">
    You can reach us @ 244-2917, 244-2935, 559-2304.
   </p>
   <p class="text-muted">
    Or visit us at 3F Unit 3C, 1240 Soler St. Binondo Manila
   </p>
   <p class="text-muted">
    Or email us at smart_inquire2000@hotmail.com
   </p>
   </div>

</br>
<div class="container">

  <p><strong>FAQ:</strong> Hopefully we can answer all your queries in this page!</p>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
           <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Why doesn't my orders retain when I open a new tab?</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <p class="bs-example">Sorry, we can only retain cart items 1 tab at a time. It's a cost cutting on our part. (Servers take a lot of $$$)</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
           <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">How do I pay?</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <p class="bs-example">Since our inventory hasn't been linked to this website, we cannot confirm if the item has
          stock or not. We will send you instructions in your email and contact you then.</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
           <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">When can I expect my delivery?</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <p class="bs-example">Depends on location. Usually 3 to 4 days upon confirmation of payment.</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
           <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Help! I need my orders rushed!</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <p class="bs-example">Please understand that we cannot rush your orders all the time. We have
          a cut-off for receiving at 4pm, and we need atleast 2 days to prepare your items. It would be
          beneficial for us to know your monthly consumption so we can prepare ahead.</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
           <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"> Why doesn't the items have prices?</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <p class="bs-example"> Our price varies per customer depending on their quantity! Our prices change without
          prior notices too. (We lack a secretary.)</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
           <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Can I get discount?</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <p class="bs-example">Discounts are for WHOLESALE RESELLERS only. If you order by boxes and cases or by tens of dozens, then
        you are eligible for a WHOLESALE price</p>
      </div>
    </div>
  </div>
</div>
