<div class="page-header">
  <button class="btn btn-default"><a href="#" ng-click="authCtrl.logout();">LOGOUT</a></button>
</div>


<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel-picture"><center>
  <img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/e-commerce.png">
</center></div>
    <div class="panel-body">
  <h6><a href="/addproduct">Add New Product</a></h6>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel-picture"><center>
  <img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/users.png">
</center></div>
    <div class="panel-body">
  <h6><a href="/register">Create New User </a></h6>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel-picture"><center>
  <img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/choices.png">
</center></div>
    <div class="panel-body">
  <h6><a href="/pending">See Pending Orders </a></h6>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel-picture"><center>
  <img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/editprice.png">
</center></div>
    <div class="panel-body">
  <h6><a href="/catalogues">Change SRP </a></h6>
    </div>
  </div>

</div>
