


  <!-- Controls -->
  <a class="left carousel-control" href="" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" style="color:red"></span>
  </a>
  <a class="right carousel-control" href="" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" style="color:red"></span>
  </a>
</div>





<div class="row ">

<div class="col-lg-4 m-b-lg">
  <div class="panel-picture">
 <a href= {{Desc4}} ><img style="max-width: 100%; padding-top: 5%; padding-bottom: 5%; height: auto; width: auto\9;" ng-src= {{Home4}}></a>
  </div>

</div>

<div class="col-lg-4 m-b-lg">
  <div class="panel-picture">
<a href= {{Desc5}} ><img style="max-width: 100%; padding-top: 5%; padding-bottom: 5%; height: auto; width: auto\9;" ng-src= {{Home5}}></a>
  </div>

</div>


<div class="col-lg-4 m-b-lg">
  <div class="panel-picture">
<a href= {{Desc6}} ><img style="max-width: 100%; padding-top: 5%; padding-bottom: 5%; height: auto; width: auto\9;" ng-src= {{Home6}}></a>
  </div>

</div>

</div>
