


<div id="hash" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#hash" data-slide-to="0" class="active"></li>
    <li data-target="#hash" data-slide-to="1"></li>
    <li data-target="#hash" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <a href= {{Desc1}} >  <img class="d-block w-100" style="max-width: 100%; height: auto; margin: auto; width: auto\9;" ng-src= {{Home1}}> </a>
      <div class="carousel-caption">
      	<h3></h3>
      </div>
    </div>
    <div class="item">
    <a href= {{Desc2}} >   <img class="d-block w-100" style="max-width: 100%; height: auto; margin: auto; width: auto\9;" ng-src= {{Home2}}> </a>
      <div class="carousel-caption">
      	<h3></h3>
      </div>
    </div>
    <div class="item">
      <a href= {{Desc3}} >  <img class="d-block w-100" style="max-width: 100%; height: auto; margin: auto; width: auto\9;" ng-src= {{Home3}}> </a>
      <div class="carousel-caption">
      	<h3></h3>
      </div>
    </div>
  </div>

  <!-- Controls -->

</div>



<div class="row ">

<div class="col-lg-4 m-b-lg">
  <div class="panel-picture">
 <a href= {{Desc4}} ><img style="max-width: 100%; padding-top: 5%; padding-bottom: 5%; height: auto; width: auto\9;" ng-src= {{Home4}}></a>
  </div>

</div>

<div class="col-lg-4 m-b-lg">
  <div class="panel-picture">
<a href= {{Desc5}} ><img style="max-width: 100%; padding-top: 5%; padding-bottom: 5%; height: auto; width: auto\9;" ng-src= {{Home5}}></a>
  </div>

</div>


<div class="col-lg-4 m-b-lg">
  <div class="panel-picture">
<a href= {{Desc6}} ><img style="max-width: 100%; padding-top: 5%; padding-bottom: 5%; height: auto; width: auto\9;" ng-src= {{Home6}}></a>
  </div>

</div>

</div>


<!---->
<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>
