


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <a href= {{Desc1}} >  <img class="d-block w-100" style="max-width: 100%; height: auto; margin: auto; width: auto\9;" ng-src= {{Home1}}> </a>
      <div class="carousel-caption">
      	<h3></h3>
      </div>
    </div>
    <div class="item">
    <a href= {{Desc2}} >   <img class="d-block w-100" style="max-width: 100%; height: auto; margin: auto; width: auto\9;" ng-src= {{Home2}}> </a>
      <div class="carousel-caption">
      	<h3></h3>
      </div>
    </div>
    <div class="item">
      <a href= {{Desc3}} >  <img class="d-block w-100" style="max-width: 100%; height: auto; margin: auto; width: auto\9;" ng-src= {{Home3}}> </a>
      <div class="carousel-caption">
      	<h3></h3>
      </div>
    </div>
  </div>

  <!-- Controls
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" style="color:red"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" style="color:red"></span>
  </a>-->
</div>





<div class="row ">


  <div class="col-lg-3 m-b-lg">
    <div class="panel-picture">
   <a href= {{Desc4}} ><img style="max-width: 100%; padding-top: 5%; padding-bottom: 5%; height: auto; width: auto\9;" ng-src= {{Home4}}></a>
    </div>
    <div class="my_hometext">TECHNIC ULTRA, THE MAXIMUM EFFICIENCY ERASER !</div>
    <div class="my_hometextsub">Technic erasers , a sure bet for rubbing things out! Conventional and effective, Technic erasers by Maped are ideal for precision use and are therefore suitable for all school levels.</div>
  </div>


<div class="col-lg-3 m-b-lg">
  <div class="panel-picture">
<a href= {{Desc5}} ><img style="max-width: 100%; padding-top: 5%; padding-bottom: 5%; height: auto; width: auto\9;" ng-src= {{Home5}}></a>
  </div>
  <div class="my_hometext">World full of ideas – and bursting with amazing opportunities that are just waiting to be seized.</div>
  <div class="my_hometextsub">Creativity makes people a little happier. And more relaxed. With its products, STAEDTLER is not only a companion for people of all ages who want to bring their own creative ideas to life</div>

</div>


<div class="col-lg-3 m-b-lg">
  <div class="panel-picture">
<a href= {{Desc6}} ><img style="max-width: 100%; padding-top: 5%; padding-bottom: 5%; height: auto; width: auto\9;" ng-src= {{Home6}}></a>
  </div>
  <div class="my_hometext">When you write something down, you’re 42% more likely to make it stick!</div>
  <div class="my_hometextsub">Post-it® Full Adhesive Notes are great when you have more time to write something out and add it to your notes or textbook.
     They are just the right size to be placed in your notebook or textbook that it stands out and you
      can write a complete note.</div>
</div>

  <div class="col-lg-3 m-b-lg">
        <div class="panel-picture">
       <a href= {{Desc7}} ><img style="max-width: 100%; padding-top: 5%; padding-bottom: 5%; height: auto; width: auto\9;" ng-src= {{Home7}}></a>
        </div>
        <div class="my_hometext">Precious gifts for penenthusiasts</div>
        <div class="my_hometextsub">Setting a course gets simple with a precious present especially
          for calligraphers. Classy writing utensils- always a good idea!
        </div>
  </div>

</div>

<div class="row">
  <div class="col-lg-6 m-b-lg">
    <div class="homequote"> "Opportunities are made through ideas, and every thought leaves an impact on world.
      So seize it, draw it, capture it...or just
      put it in a flashdrive. It's on SALE. "
    </div>

  </div>
<div class="col-lg-6 m-b-lg">
      <div class="panel-picture">
     <a href= {{Desc8}} ><img style="max-width: 100%; padding-top: 5%; padding-bottom: 5%; height: auto; width: auto\9;" ng-src= {{Home8}}></a>
      </div>

</div>
</div>

<footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>
