<div class="row ">

  <div class="col-lg-4 m-b-lg">
    <div class="panel-picture"><center>
  <img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/printer.png">
</center></div>
    <div class="panel-body">
  <h6><a href="/morecatalogue/1/Machine">Office Machine</a></h6>
  <p>Laminating Machines, Labeller, Shredder, Binding Machines, Money Detector, Plastic Sealers, Heat gun,
  Laminating Film, Clocks, etc.</p>
    </div>
  </div>

  <div class="col-lg-4 m-b-lg">
    <div class="panel-picture"><center>
  <img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/pantone.png">
</center></div>
    <div class="panel-body">
  <h6><a href="/morecatalogue/1/Arts">Arts and Crafts</a></h6>
  <p>Crayon, Paint, Cutting Mat, Paintbrush, Compass, Drawing pads, Calligraphy pens, Fudenosuke pens, Washi tapes, etc.</p>
    </div>
  </div>



<div class="col-lg-4 m-b-lg">
  <div class="panel-picture"><center>
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/papers.png">
</center></div>
  <div class="panel-body">
<h6><a href="/morecatalogue/1/Paper">Paper</a></h6>
   <p>Envelops, Photo Paper, Stickers, Yellow pads, Columnar book, Graphing paper,
  Stock card, Index cards, Post-It Notes, Specialty board, Illustration board,
  Bond and Copy papers, Cartonila, Linen Paper, etc.
   </p>
  </div>
</div>


<div class="col-lg-4 m-b-lg">
  <div class="panel-picture"><center>
<img style=" max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/pen.png">
</center></div>
  <div class="panel-body">
<h6><a href="/morecatalogue/1/Pen">Pen and Writing Accessory</a></h6>
    <p>Whiteboard marker, Correction tape, Permanent marker, OHP Pen, Pencils & Mechanical Pencil, Ballpens, Highlighter,
    Paint marker, Mechanical lead, Erasers, Sharpeners, etc.
    </p>
  </div>
</div>

<div class="col-lg-4 m-b-lg">
  <div class="panel-picture"><center>
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/archives.png">
</center></div>
  <div class="panel-body">
<h6><a href="/morecatalogue/1/Filing">Filing, Folders and Desk Organizers</a></h6>
<p>Clearbook and Refills, Archfiles, Bookends, Storage box, PVC Covers, Ring Binders, O-ring,
Magazine Box, Expanding File, Document Casing, Hanging Folder, Clipboard, Layer trays, Calling card album, etc.</p>
  </div>
</div>


<div class="col-lg-4 m-b-lg">
  <div class="panel-picture"><center>
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/stapler.png">
</center>  </div>
  <div class="panel-body">
<h6><a href="/morecatalogue/1/Basic">Office Basic</a></h6>
<p>Calculator, Stamps, Stapler & Staple Wire, Tapes, Scissors, Paper Clips, Bulldog Clip, Binder Clip,
  Thumbtacks, Pushpins, Rubber band, Puncher, Fastener, Ruler, Paper Trimmer, Glue, Cutter and blade, ID Jackets,
  Card case, etc.</p>
  </div>
</div>

<div class="col-lg-4 m-b-lg">
  <div class="panel-picture"><center>
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/mouse.png">
</center></div>
  <div class="panel-body">
<h6><a href="/morecatalogue/1/Computer">Computer Accessories</a></h6>
<p>Ink Roller & Ribbon, Ink Cartridge, USB, Toner, Cable tie, Mouse and mouse pad, etc.</p>
  </div>
</div>

<div class="col-lg-4 m-b-lg">
  <div class="panel-picture"><center>
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/ecologism.png">
</center></div>
  <div class="panel-body">
<h6><a href="/morecatalogue/1/Janitorial">Janitorial</a></h6>
<p>Broom, Armor All, Dustpan, Wipeout, Air freshener, Feather duster, Tissue rolls, Liquid detergent,
   Powder soap, Trash bags, Rugs, Alcohol, Cups, Trashbins, Mops, etc.</p>
  </div>
</div>

<div class="col-lg-4 m-b-lg">
  <div class="panel-picture"><center>
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/clipboard.png">
</center></div>
  <div class="panel-body">
<h6><a href="/morecatalogue/1/Presentation">Presentation</a></h6>
<p>Whiteoard, Corkboard, Magnetic Sheet, Magnet button, Flipchart Holder, etc.</p>
  </div>
</div>



</div>
